GROQ_API_KEY=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
COHERE_API_KEY=O0pxFB4964qqmic3cqDHeVSPsd22px0rwmKQkvD8
EDEN_AI_OCR_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiOTIwNDNmMzctZDE5Zi00NmRmLWI5NTUtZTkzMjlmMTNiNTU4IiwidHlwZSI6ImFwaV90b2tlbiJ9.Q_X0h6_fIaWH8VgLqIFfIkqgubkLE8qXQiL-uwjjFt4
GOOGLE_GEMINI_API_KEY=AIzaSyAgu7_wGFqaK1uGDpzbj1BNORLaGG52-00